[submodule "forty"]
	path = forty
	url = https://github.com/MarcusVirg/forty.git

[submodule "themes/themes/osprey"]
	path = themes/themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
